input[type=text],input[type=number]{
  height: 22px;
  border: 1px solid #ccc;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}

textarea{resize:none;text-indent:2px;}

.canvas{
  width:100%;
  height:100%;
  position:absolute;
  canvas, svg{display:block;position:absolute;width:100%;height:100%;border:none;pointer-events:none;}
  #copyCanvas{background:none;}
}

.path-select{
  stroke-width:1;
  stroke:rgba(0, 0, 255, 0.8);
  fill:rgba(0, 0, 220, 0.1);
}

.path-text{
  fill:black;
}

.contextAlign {
	position: fixed;
	z-index: 99999;
	border: solid 1px rgba(0,0,0,.33);
	background: rgba(255,255,255,.95);
	padding: 5px 0;
	margin: 0px;
	display: none;
	font: 12px/15px Lucida Sans, Helvetica, Verdana, sans-serif;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 2px 5px 10px rgba(0,0,0,.3);
	-webkit-box-shadow: 2px 5px 10px rgba(0,0,0,.3);
	box-shadow: 2px 5px 10px rgba(0,0,0,.3);

  li {
  	list-style: none;
  	padding: 0px;
  	margin: 0px;
  }

  .shortcut {
  	width: 115px;
  	text-align:right;
  	float:right;
  }
  a {
  	-moz-user-select: none;
  	-webkit-user-select: none;
  	color: #222;
  	text-decoration: none;
  	display: block;
  	line-height: 20px;
  	height: 20px;
  	background-position: 6px center;
  	background-repeat: no-repeat;
  	outline: none;
  	padding: 0px 15px 1px 20px;
  }

  li:hover a {
  	background-color: #2e5dea;
  	color: white;
  	cursor: default;
  }

  li.disabled a {
  	color: #999;
  }

  li.hover.disabled a {
  	background-color: transparent;
  }

  li.separator {
  	border-top: solid 1px #E3E3E3;
  	padding-top: 5px;
  	margin-top: 5px;
  }
}

.goods_form{
  // top:100px;
  // left:200px;
  display:none;
  position: fixed;
  padding:10px;
	z-index: 99999;
  background:#FFF;
  border:1px solid #999;
  border-radius:4px;
  >div:first-child{
    padding-bottom:10px;
  }

  >div:last-child{
    padding-top:10px;
    text-align:right;
  }
}

.batchGoods{
  position: absolute;
  padding:10px;
	z-index: 99999;
	border: solid 1px rgba(0,0,0,.33);
	background: rgba(255,255,255,.95);
	// padding: 5px 0;
	margin: 0px;
	display: none;
	font: 12px/15px Lucida Sans, Helvetica, Verdana, sans-serif;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 2px 5px 10px rgba(0,0,0,.3);
	-webkit-box-shadow: 2px 5px 10px rgba(0,0,0,.3);
	box-shadow: 2px 5px 10px rgba(0,0,0,.3);
  .tab-nav{
    label{display:block;}
    span{margin-right:4px;}
    input{
      vertical-align:-6px;margin-right:4px;
    }
    input[type=radio]{vertical-align:-2px;}
    input+div{display:none;}
    input:checked+div{display:block;}
    input[type=number]{width:50px;}
    .w_h_div{
      display: flex;
    }

    .section{
      margin-bottom: 4px;
    }
  }

  .footer{
    padding-top:4px;
    text-align:right;
    button{margin-right:2px;}
  }
}

// 周边工具栏

.menu-bar{text-align:center;}
.menu-bar button{width:60px;height:30px;font-size:32px;line-height:30px;}
canvas{display:block;border: 1px solid black;margin:auto;background:#A0A0A0;}

.editor-box{position: relative;width:100vw;height: 100vh;}
/* 头部 */
.tools-top{
  height:50px;
  padding-left: 5px;
  padding-top: 10px;
  display:flex;
  border-bottom: 1px solid #808080;
}
.tools-top .sep{width: 2px; background: #999; border-left: 1px outset #EEE; margin: 2px 4px; padding: 0; height: 30px;}
.tools-top input{padding:4px;height:28px;}
.search_bar ul{display:flex;}
.main_button{
    width:100px; height:32px;line-height: 30px;
    padding-left: 32px;
    box-shadow: inset 1px 1px 2px white, 1px 1px 1px rgba(0,0,0,0.3);
    border-radius: 3px;
    background:#E8E8E8 url(../../assets/logo_save.svg)2px center no-repeat;
}
.main_button a{color:black;font-weight: bold;font-size:12px;}
/* 左边 */
.tools-left{
    position: absolute;
    // border-right: none;
    width: 50px;
    top: 50px;
    left: 1px;
    /* margin-top: -2px; */
    padding-left: 2px;
    background: #D0D0D0;
    z-index: 4;
    border-right: 2px solid #808080;
    height:calc( 100% - 50px );
    /* transform: scale(1.5, 1.5); */
}

.tools-left ul{}
.tools-left li{
    padding:8px;background-color: #E8E8E8;cursor: pointer;border-radius: 3px;margin:2px 2px 4px;
    box-shadow: inset 1px 1px 2px white, 1px 1px 1px rgba(0,0,0,0.3);
    width:40px;height: 40px;

}
.tools-left .img{

    width:24px;
    height: 24px;
}

.tools-left .select{background:url(../../assets/tool_select.svg) center no-repeat;}
.tools-left .location{background:url(../../assets/tool_location.svg) center no-repeat;}
.tools-left .barrier{background:url(../../assets/tool_barrier.svg) center no-repeat;}
.tools-left .text{background:url(../../assets/tool_text.svg) center no-repeat;}
.tools-left .zoom{background:url(../../assets/tool_zoom.svg) center no-repeat;}
.tools-left .batch{background:url(../../assets/tool_batch.svg) center no-repeat;background-size: 28px;}
.tools-left .panning{background:url(../../assets/tool_panning.svg) center no-repeat;}
.tool_button:hover{background-color:#ffc;}
.tool_button.current{background-color: #f4e284;box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4), 1px 1px 0 white;}

.top_button{
  margin: 2px 2px 4px;
  width:30px;height:30px;
  box-shadow: inset 1px 1px 2px white, 1px 1px 1px rgba(0,0,0,0.3);
  background-color: #E8E8E8;
  cursor: pointer;
  border-radius: 3px;

  &:hover{
    background-color: #ffc !important;
  }

  &:active{
  	background-color:#f4e284 !important;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4), 1px 1px 0 white !important;
  }
}

.tool_undo{ background:url(../../assets/tool_undo.svg) center no-repeat;}
.tool_redo{ background:url(../../assets/tool_redo.svg) center no-repeat;}

/* 主工作区域 */
.workarea{
    position:absolute;
    top:50px;
    left: 50px;
    right: 0px;
    bottom: 40px;
    z-index: 6;
}

.workarea canvas{position:absolute;top:0;left:0;width:100%;height:100%;}

.tools-bottom{
    position: absolute;
    left: 50px;
    right: 0;
    bottom: 0;
    height: 40px;
    font-size:22px;
    z-index:7;
    background:#D0D0D0;
    border-top: 1px solid #808080;
    padding-left: 20px;
}

.tools-bottom input{
    width:80px;height: 26px;
    /* padding-left: 26px; */
    border: 1px solid black;
    text-align: center;
    /* background:white url(./assets/tool_zoom.svg) left center no-repeat;background-size: 20px; */
}
.tools-bottom span{cursor: pointer;}
